[package]
name = "codspeed"
version = "2.3.1"
edition = "2021"
description = "Core instrumentation library for CodSpeed"
authors = ["Arthur Pastel <arthur@codspeed.io>"]
documentation = "https://docs.codspeed.io"
readme = "README.md"
repository = "https://github.com/CodSpeedHQ/codspeed-rust/tree/main/crates/codspeed"
homepage = "https://codspeed.io"
license = "MIT OR Apache-2.0"
categories = [
    "development-tools",
    "development-tools::profiling",
    "development-tools::testing",
]
keywords = ["codspeed", "benchmark"]

[dependencies]
colored = "2.0.0"
libc = "^0.2"
serde_json = "1.0.104"

[[bench]]
name = "native"
harness = false

[dev-dependencies]
tempfile = "3.7.0"
