# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        args: [--all, --]
      - id: cargo-check
        args: [--all-targets]
      - id: cargo-check
        args: [--all-targets, --config, codspeed=true]
      - id: clippy
        args: [--all-targets, --, -D, warnings]
      - id: clippy
        args: [--all-targets, --, -D, warnings, --cfg, codspeed]
