name: CI
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  compat-integration-test-walltime:
    runs-on: codspeed-macro
    strategy:
      matrix:
        package:
          - codspeed-criterion-compat
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: moonrepo/setup-rust@v1
        with:
          cache-target: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - run: cargo install --path crates/cargo-codspeed --locked

      - run: |
          # Remove the cargo config else it forces instrumentation mode
          rm -f .cargo/config.toml
          cargo codspeed build -p ${{ matrix.package }}

      - name: Run the benchmarks
        uses: CodSpeedHQ/action@main
        env:
          MY_ENV_VAR: "YES"
        with:
          run: cargo codspeed run
          mode: walltime
          token: ${{ secrets.CODSPEED_TOKEN }}
